* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
  background-color: black;
  color: white;
}

.container {
  padding: 50px 100px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.container #heading {
  text-align: center;
  color: transparent;
  font-weight: bolder;
  /* text-shadow: 31px 84px 3px transparent; */
  font-size: 100px;
  font-style: italic;
  background-image: url("./images/1\ \(1\).png");
  background-position: center;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  filter: brightness(2);
  font-variant: small-caps;
}
.container .gallery_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .gallery_container div {
  width: 24%;
  padding-bottom: 10px;
}
.container .gallery_container div .gallery-item {
  width: 100%;
  filter: brightness(1.5);
  -webkit-filter: brightness(1.5);
 transition: transform 0.5s ease-in-out;
}
.container .gallery_container div .gallery-item:hover{
  transform: scale(1.1);
  filter: brightness(3);
  -webkit-filter: brightness(3);
}
@media screen and (max-width: 1300px) {
  .container #heading {
    font-size: 60px;
  }
  .container .gallery_container div {
    width: 32%;
  }
}
@media screen and (max-width: 793px) {
  .container {
    padding: 70px;
  }
  .container #heading {
    font-size: 40px;
  }

  .container .gallery_container div {
    width: 32%;
  }
}

@media screen and (max-width: 681px) {
  .container {
    padding: 70px;
  }
  .container #heading {
    font-size: 30px;
  }
  .container .gallery_container div {
    width: 48%;
  }
}

@media screen and (max-width: 561px) {
  .container {
    padding: 30px;
  }
  .container #heading {
    font-size: 30px;
  }
  .container .gallery_container div {
    width: 100%;
  }
}

.lightbox {

  box-sizing: border-box;
  width: 100%;
  height: 300px;
  /* margin: 100px 10px 0 10px; */
  /* border: 2px solid red; */
  height: fit-content;
  position: absolute;
  top: 210px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.lightbox img {
  width: 76%;
  height: 500px;
  filter: brightness(2);
  /* transform: scale(1.1); 
  transition: transform 1000s ease, filter 0.3s ease; */
}

.lightbox .close-button {
  position: absolute;
  top: -3%;
  left: 12%;
  font-size: 50px;

  color: transparent;

  background-color: transparent;
  border: none;
  cursor: pointer;
  inset: "top", "right", "bottom", "left";
  background-image: url("./images/1\ \(1\).png");
  background-position: center;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  filter: brightness(2);
  z-index: 2;
}
.lightbox .prev-btn {
  position: absolute;
  top: 42%;
  left: 14%;
  font-size: 50px;

  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
background-image: url("./images/1\ \(1\).png");
  background-position: center;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  filter: brightness(2);
  z-index: 1;
}

.lightbox .next-btn {
  position: absolute;
  top: 42%;
  right: 14%;
    font-size: 50px;

  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("./images/1\ \(1\).png");
  background-position: center;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  filter: brightness(2);
}
